@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-secondary font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-primary font-bold;
  }
}

@layer components {
  .btn-primary {
    @apply bg-gradient-primary text-white px-6 py-3 rounded-full font-semibold transition-all duration-300 hover:scale-105 hover:shadow-lg hover:-translate-y-1 block w-fit shadow-md;
  }

  .card-hover {
    @apply transition-all duration-300 hover:scale-[1.02] hover:shadow-xl hover:-translate-y-1;
  }
}